# Core tools
pip
setuptools
wheel

# NLP
spacy>=3.8,<3.9
nltk>=3.9
transformers[torch]>=4.41
datasets>=2.19
sentence-transformers>=3.0

# ML / DL
torch>=2.6
torchvision>=0.21
torchaudio>=2.6
lightning>=2.2
tensorboard>=2.19
accelerate>=0.30
evaluate>=0.4

# Data / Viz
pandas>=2.2
matplotlib>=3.8
seaborn>=0.12
statsmodels>=0.14
tqdm>=4.67
bokeh>=3.5

# Utils
gradio>=4.36
ollama>=0.2
python-docx
