pandas>=2.2
numpy>=1.26.0,<2.2.0
httpx>=0.27.0,<0.28.0
websockets>=14.0,<15.1.0
matplotlib>=3.9.0
seaborn==0.12.2
scikit-learn<1.7,>=1.2
statsmodels==0.14.0
tqdm>=4.67
torch==2.6.0
lightning==2.2.0.post0
tensorboard==2.19.0
bokeh<3.8.0,>=3.5.0
transformers[torch]==4.41.2
datasets==2.19.1
torchinfo==1.8.0
accelerate==0.30.1
evaluate==0.4.2
sentence-transformers==3.0.1
gradio>=4.36
ollama>=0.2
spacy==3.8.7
nltk==3.9.1
