# Versiones base de Colab
numpy==2.0.2
requests==2.32.4

# Librerías de procesamiento de lenguaje natural y herramientas
langchain-ollama
langchain-community
langchain-huggingface
ollama
faiss-gpu-cu12
sentence-transformers
gradio
colab-xterm
